<a href="https://colab.research.google.com/github/thoughtsociety/ads_track4/blob/master/collab_test_drive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!ls

sample_data

In [0]:
!ls sample_data/

In [0]:
!ls -al sample_data/

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

In [0]:
import pandas as pd

In [0]:
my_data = "/content/gdrive/My Drive/ThoughtSociety.org Public Docs/Amateur Data Science Course/datasets/College.csv"

In [0]:
college = pd.read_csv("/content/gdrive/My Drive/ThoughtSociety.org Public Docs/Amateur Data Science Course/datasets/College.csv")
#college.head()

In [0]:
college.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [0]:
!ls "/content/gdrive/My Drive/ThoughtSociety.org Public Docs/Amateur Data Science Course/datasets/"

 breastCancer.csv   housing.csv   kyphosis.csv	      'titanic_data â€“ 2.csv'
 College.csv	    Iris.csv	  Mall_Customers.csv   Untitled0.ipynb

In [0]:
!ls "/content/gdrive/My Drive/"

'All Web Site Data'
 cue-sheet-vid.gdoc
 docker_dsc_test.gslides
 explainer_script_II.gdoc
'Explainer script III.gdoc'
'First Test'
 house
'How do TS findings produce outcomes.gdoc'
'moving expenditures.gsheet'
 redfin_steve_irene_favorites.gsheet
 resource-page-mock.gslides
'thought society'
'Thought Society Journal - 11 3 2017.gdoc'
'ThoughtSociety.org Public Docs'
'TS Private'
 Untitled0.ipynb